<div class="card center" *ngIf="success">
    <div class="center"><i class="small material-icons green-text">check_circle</i></div>
    <div class="card-title">Uploaded Successfully</div>   

    <div class="center"><img src="{{imageUrl}}" alt="" class="responsive-img"  height="240" width="240"></div>
    
    <div class="input-field col s12">
        <input disabled id="imageUrl" type="text" class="validate" value="{{imageUrl}}">
        <buttn class="btn blue" [cdkCopyToClipboard]="imageUrl">Copy Link</buttn>
    </div>
</div>

<div class="card center" *ngIf="!success">
  <div class="center"><i class="small material-icons red-text">cancel</i></div>
  <div class="card-title">Upload Failed</div>
</div>
