<div class="card center">
    <div class="card-title">Upload your image</div>   
    <p class="grey-text">File should be Jpeg, Png ...</p>

    <div class="row center">
        <div class="file-field input-field col s12 row">
          <div class="">
              <input type="file" (change)="readURL($event);" accept=".png, .jpeg, .jpg">
          </div>
          <div class="file-path-wrapper">
            <img class="center resposive-img" [src]="fileImage || 'assets/placeholder.png'" height="240" width="240"/>                
          </div>
      </div>

    <p class="grey-text">Or</p>

    <div class="row center">
        <div class="file-field input-field center col s12">
            <div class="btn blue">
              <span>Choose a file</span>
              <input type="file" (change)="readURL($event);" accept=".png, .jpeg, .jpg">
            </div>
          </div>
    </div>

</div>
